<div class="wodcontainer">
	<div class="video-box" id="vid-expand">
		<!--<div class="location-overlay" style="opacity: 0;"><p class="location-overlay-text">Federal Heights, Colorado, United States</p></div>-->
		<div class="video-controls">
			<div class="lightbulb">
				<i class="fa fa-lightbulb-o fa-lg"></i>
			</div>
			<div class="prev">
				<i class="fa fa-backward fa-lg"></i>
			</div>
			<div class="pause-play">
				<i class="fa fa-lg fa-play"></i>
			</div>
			<div class="next">
				<i class="fa fa-forward fa-lg"></i>
			</div>
			<div class="expand">
				<i class="fa fa-arrows-alt fa-lg"></i>
			</div>
		</div>
		<div class="video-active">
			<wt-video src="{{src}}"></wt-video>
		</div>	
	</div>

	<div class="woditem" style="position: relative;">
			<div class="content-box">
				<div class="content-animation" style="top: 0%;">
					<div class="container">
						<wt-wod reps="{{reps}}" exercise="{{exercise}}" clock="{{clock}}"></wt-wod>
					</div>	
				</div>
			</div>
		

		<!--<div class="music-player">
			<div class="container">
				<div class="music-box">
					<div class="volume">
						<i class="fa fa-volume-up fa-lg"></i>
					</div>
					<div class="music-pause-play">
						<i class="fa fa-lg fa-play"></i>
					</div>	
					<div class="music-next">
						<i class="fa fa-forward fa-lg"></i>
					</div>
					<div class="music-data">
						<div class="music-text-bg" style="background-position: 99.7224617482503% 50%;">
							<div class="music-text">
								<p class="title">KOSIKK - Eon [Exclusive]</p>
								<p class="uploader">Uploaded by: Future Garage</p>
							</div>
						</div>
						<a href="http://soundcloud.com/futuregarage/kosikk-eon-exclusive" class="sc-logo" target="_blank">
							<i class="fa fa-soundcloud"></i>
						</a>
					</div>
				</div>
			</div>
		</div>-->
	</div>
</div>